{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'notes_site.css' %}?{% now "U" %}"" />
</head>
<body>
    {% block form %}
    <form action="dashboard" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class='box'>
            
            <h1>login</h1>
            <input name='username' type="text" placeholder="username" required>
            <input name='password' type="password" placeholder="password" required>

            {% if is_login_failed %}
                <p style="color:#f79862;">Login Failed Please Try Again!!</p>
            {% endif %}
            
            <input class='btn' type="submit" value='Login'></input>
            <button class='btn' onclick="window.location.href='signup'">Sign Up</button>
            
        </div>
    </form>
    {% endblock %}
</body>
</html>