{% extends 'note_site_home.html' %}
{% load static %}

{% block form %}
<form action="new_dashboard" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class='box'>
        
        <h1>sign up</h1>
        <div class="floating-label-group">
        <input type="text" name='username' required>
        <label class="lab" for="username">username</label>
        </div>
        <div class="floating-label-group">
        <input type="password" name='password' required>
        <label class="lab" for="password">password</label>
        </div>
        <div class="floating-label-group">
        <input type="password" name='confirm-password' required>
        <label class="lab" for="cnfpassword">confirm password</label>
        </div>
        {% if is_signup_failed %}
        <p style="color:#f79862;">Sign Up Failed Please Try Again!!</p>
        {% endif %}
       <input class='btn' type="submit" value='Sign Up'></input>
        <!-- <button class='btn' onclick="window.location.href='signup'">Sign Up</button> -->
        
    </div>
</form>
{% endblock %}
